img {
    float:left;
    margin-right: 5px;
    position: relative;
    margin-top: auto;
}

.title {
    text-align: center;
}

#thumbnails {
    display: block;
}

.image {
    display: inline-block;
}